

.centerelement {
     text-align: center;
}

img {
    border-radius: 10px;
}

.center {
    display: block; margin-left: auto; margin-right: auto;
}

body {
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
}

.nav {
    font-size: 30px;
    font-weight: 900;
    font-family: Georgia;
    color: brown;
    justify-content: center;
}

h1 {
    font-size: 32px;
    font-weight: 900;
    color: azure;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    color: azure;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: azure;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    color: azure;
}



input[type=text]{
   width:250px;
   height: 40px;
}

.colortextform {
    background-color: cornsilk; /* Цвет фона в формах */
    color: brown; /* Цвет текста в формах*/
    font-family: Georgia;
    font-weight: 400;
    font-size: 14px;
   }

p {
    font-size: 16px;
    font-family:  cursive, Arial, sans-serif;
    color: azure;
    
}

b {
    font-size: 18px;
    font-family:  cursive, Arial, sans-serif;
    text-align: center;
    color: azure;
}



.container {
     text-align: center;
}



.floatleft {
    float: left;
    color: azure
}

.floatright {
    float: right;
    color: azure
}

.row {
    justify-content: center;
}


.mainimg {
    width: 100%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.logo {
    width: 50%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.kadry {
    width: 110%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}


.content {
    width: 70%;
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}


#history {
    font-size: 16px;
    font-family:  cursive, Arial, sans-serif;
    color: azure;
}

#map1 {
     text-align: center;
}


#map2 {
     text-align: center;
}


@media screen and (min-width : 560px) {
    #history {
        display: none;
    }
}

@media screen and (min-width : 380px) {
    #map2 {
        display: none;
    }
}

@media screen and (max-width : 380px) {
    #map1 {
        display: none;
    }
}










































